* text=auto eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.py text eol=lf
*.vbs text eol=crlf
*.png binary
*.ico binary
*.pdf binary
*.zip binary
*.exe binary
